body
{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.Main
{
	background-color: green;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

span
{
	text-align: center;
}

h1
{
	font-family: 'Bebas Neue', cursive;
	font-size: 8em;
	letter-spacing:0.2em;
}
